<h1 id="tableLabel">Weather forecast</h1>

<p *ngIf="!forecast"><em>Loading...</em></p>

<p *ngIf="forecast">{{ forecast.city }}</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecast">
  <thead>
    <tr>
      <th>Time</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Wind (m/sec)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of forecast.items">
      <td>{{ item.timeFormatted }}</td>
      <td>{{ item.temperatureC }}</td>
      <td>{{ item.temperatureF }}</td>
      <td>{{ item.wind }}</td>
      <td>{{ item.description }}</td>
    </tr>
  </tbody>
</table>
