<table class="table table-striped">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Ip</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of visitors" [dsLocation]="record.city">
            <td>{{record.timestamp | date: 'short' }}</td>
            <td>{{record.ipAddress}}</td>
            <td>{{record.city}}</td>
            <td>{{record.latitude}}</td>
            <td>{{record.longitude}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="visitors">Cities: {{ visitors | dsVisitorCities }}</div>